* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #28f028;
  font-weight: 900;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  padding: 5px;
}

p {
  width: 100%;
}

input {
  background: none;
  border: none;
  outline: none;
  margin-left: 5px;
  width: 70%;
}

#saved-section {
  font-size: 15px;
}